extends layout

block layout-content
    div.Banner
      a(href="/page/Main_Page" style="text-decoration: none;") 
        h3.corner-title CodePages
      div.search-area
        form(action="/search", method="get")
            input(type="search" class="search-field" placeholder="Search" name="q" id="page_search")
            button(type="submit" class="search-btn") Search
    if bool_val
        div(class="container" style="margin-top:50px;")
            h3 Search Results
            div.row
                div.col-sm 
                    | <br>
                    if response.length==0
                    
                    else
                        each val in response
                            a(href="/page/"+page_list[val].page_path style="color:dodgerblue; text-transform: inherit;font-size:25px")= title_list[val].title
                            | <br>
                div.col-sm 

                div.col-sm
                    | <br>
                    if response.length==0

                    else 
                        each val in response
                            p= "Last updated " + time_list[val].last_update
    else 
        div(class="container" style="margin-top:50px;")
            div.row
                div.col-sm 
                    h3(style="text-transform: inherit;") No Search Results


